<!DOCTYPE html>
<html>

<head>
    <title>multer-gridfs-storage</title>
</head>

<body>
    <form action="/createAds" method="POST">
        <input type="text" name="itemsName" placeholder="Item-name">
        <input type="text" name="category" placeholder="category">
        <input type="text" name="numberAvail" placeholder="cnumberAvail">
        <input type="text" name="price" placeholder="price">
        <input type="text" name="shopName" placeholder="shopName">
        <input type="text" name="shopLocation" placeholder="shopLocation"> 
        <input type="file" name="file"> 
        <input type="submit" value="Submit">
          
    </form>
</body>

</html>